@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto+Condensed&display=swap');

#content{

    max-width: 1600px;
    margin:0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
#logo_link{
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: black;
}
.home-title{
    margin-top: 10px;
}
#hero, #river-banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img, #wide{
    width: 100%;
    
}
#hero-box, #banner-box{
    grid-column: 1/5;
    grid-row: 1/3;
    z-index: -1;
    max-width: 100%;
}
#hero-msg, #banner-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}


#hero-msg h1{
    color: white;
    text-align: center;
    font-size: 80px;
    text-shadow: 2px 2px 2px gray;
}
#banner-msg h1{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px gray;
}


#hero-msg, #banner-msg h4{
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px gray;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}
.button-box{
    text-align: center;
}


main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #FCE172;
}

header{
    background-color:#134266  ;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    display: grid;
    grid-template-columns: 150px auto;
}

body{
    background-color: #78c5d7;
    font-family: 'Roboto Condensed' Lato, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin:0;
}

h2{
    margin: 0;
}

.book, .join{
    background-color:#134266;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 5px;
    grid-column: 2/3;
    margin:0 auto;
    margin-top: 20px;
}

.book:hover, .join:hover{
    background-color: black;
}
.card-img{
    border:10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #717665;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains{
    width:100%; 
}

.rivers-card, .camping-card, .rapids-card{
    margin:200px 0;
    
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}

.msg{
    background-color: #a37b73;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px rgb(66, 66, 66);
}

.msg p{
    font-size:.8em;
    padding-bottom: 15px;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}

footer {
    background-color: #134266;
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#social:hover{
    background-color: black;
}
footer a{
    color: white;
    text-decoration: none;
}
footer h3 a:hover{
    background-color: black;
    text-decoration: none;
}

.social{
    color: white;
    padding-top: 15px;
}
.social :hover{
    border: 5px solid black;
    text-decoration: none;
}


.logo{
    width: 80px;
}

.icon{
    width:80px;
    padding-top: 10px;
}

.river-home{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}
.salmonriv, .coloriv, .grandriv{
    margin:200px 0;
    max-height: 400px;
}
.river-home h1{
    text-align: center;
}
.river-card{
    height: 250px;
    width: 250px;
    border:10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.river-card:hover {
    opacity: .6;
    transform: scale(1.1);
}
.salmonriv{
    grid-column: 2/4;
    grid-row: 2/3;
    max-height: 30px;
}
.coloriv{
    grid-column: 5/7;
    grid-row: 2/3;
}
.grandriv{
    grid-column: 8/10;
    grid-row: 2/3;
}
#large-salmon, #large-colorado, #large-grand{
    max-width: 600px;
}
.modal-1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal-2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal-3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content-1, .modal-content-2,.modal-content-3 {
    background-color: #a37b73;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-content-2{
    background-color: #a37b73;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-content-3 {
    background-color: #a37b73;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .close-1, .close-2, .close-3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-1:hover,
  .close-1:focus,
  .close-2:hover,
 .close-2:focus,
   .close-3:hover,
   .close-3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.text-portion{
    grid-column: 1/11;
    grid-row: 3/4;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}

    

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}