@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    margin: 10%;
    font-family: 'Open Sans', sans-serif;    font-weight: 100;
}
body p{
    line-height: 25px;
}
h1{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #2D5590;
    padding-bottom: 50px;
}
h1:hover {
    cursor: pointer;
    background: linear-gradient(270deg, #ff00f5, #ffd736, #f2a4ff, #6bf51d, #06e854);
    background-size: 1000% 1000%;
    animation: slideBackground 3s ease infinite;
}
@keyframes slideBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.beanscan{
    float: right;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    width: 30%;
    padding-right: 5%;
}
.beanscan:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.input{
    border: none;
    border-radius: 10px;
    background-color: #F3F3F3;
    padding: 10px;
    margin: 5px;
    width: 300px;
    box-sizing: border-box;
    height: 50px;
}

.submit{
    background-color: #2D5590;
    color: white;
    border: 2px black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 15px;
    height: 50px;
}
.submit:hover{
    background-color: #5b8dd6;
    float: right;
}
