body{
    background-color: peachpuff;
}
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
main{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 189px 189px 228px;
    gap:15px;
    max-width: 960px;
    margin: 0 auto;
    padding:5px 0;

}
.conference{
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: blue;
    padding-top: 298px;
}
.prophet{
    grid-column: 3/5;
    background-color: darksalmon;
    padding-top: 149px;
}
.learnmore{
    grid-column: 3/5;
    background-color: thistle;
    padding-top: 149px;
}
h3{
    background-color: springgreen;
    padding-top: 149px;
}