@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

body{
    margin: 10px;
    font-family: Radio Canada;
    color: white;
}
#discover{
    display: block;
    color: black;
}
main{
    background-color: lightblue;
    margin: 0px;
    text-align: center;
    padding: 25px; 

}
#index-main{
    display: grid;
    grid-template-columns: 1fr;  
}
h1{
    padding-top: 20px;
    font-size: 50px;
    color: black;

}
header{
    background-color: cornflowerblue;
    text-align: center;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

nav li{
    list-style-type: none;
    padding: 20px 51px;
    display: none;
}
.responsive li{
    display: block;
}
li:first-child{
    display: block;
}
nav li a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    padding: 25px;
    border-radius: 20px;
    
}
nav a:hover{
    background-color: gray;
    

}

header img{
    max-width: 100px;
    float: left;
    
}
.date{
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    height: 30px;
    color: black;
}
.hero{
    position: relative;
    background-color: lightblue;
    border: none;
}
.hero-img{
    max-width: 600px;
    margin: auto;
    object-fit: cover;
}
.hero h2{
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 30px;
    text-shadow: 3px 3px rgba(0, 0, 0, .3);
    color: lightgray;
}
.hero button{
    position: absolute;
    bottom: 30px;
    right: 40px;
}
#joinpg{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#member{
    background-color: #3B429F;
    grid-column: 2/3;
    font-size: 20px;

}
fieldset{
    border: medium none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
form{
    color: black;
    padding: 25px;
    

}
input, textarea{
    width: 100%;
    border: 1px solid black;
    margin: 0 0 5px;
}
input[type="radio"]{
    display: inline-block;
}

 section{
   background-color: #3B429F;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
 } 
.spot-box{
    height: 500px;
}
.spot{
    padding: 5px;
    margin: 10px;
    height: 220px;
}
.spot3{
    display: none;
    padding: 5px;
}
.join{
    display: none;
}
.join button{
    margin-top: 20px;
   
}
button{
    background-color: cornflowerblue;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
    height: 50px;
    box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, .3);
}
button:hover{
    background-color: gray;
}
.weatherimg{
    max-width: 100px;
}
#weather-icon{
    height: 100px;
}
footer{
    display: flex;
    background-color: cornflowerblue; 
    height: 100px; 
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    color: black;
    font-size: 25px;

}
.downtown{
    max-width: 500px;
}

.buttons {
    display: flex;
}
.buttons div {
    margin: 0px 10px;
    color: #FFFFFA;
    cursor: pointer;
}

.buttons div > * {
     pointer-events: none;
      }
    
  

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards section {
    width: 300px;
    height: 350px;
}


.cards img {
    max-width: 150px;
    border-radius: 30px;
    width: 100%;
}
.table-list{
   font-size: 20px;
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 30px;
}
.table-list tr:nth-child(odd){
    background-color: #ccc;
}
.table-list tr:nth-child(even){
    background-color: lightblue;
}

.list, .grid{
    display: inline-block;
    width: 80px;
    font-size: 50px;
}



@media screen and (min-width: 650px) {
    #index-main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1fr, 6);
    }
  
    .spot3{
        display: none;
    }
    section{
        height: 100%;
    }
    .hero{
        grid-column: 1/4;
        grid-row: 1/2;
       
    }
    .news{
        grid-column: 1/4;
       grid-row: 2/3;
    }
    .events{
        grid-column: 1/3;
        grid-row: 6/7;
        
    }
    .weather{
        grid-column: 3/4;
        grid-row: 6/7;
    }
    .join{
        display: block;
        grid-column: 1/4;
        grid-row: 5/6;
    }
    .spot-box{
        grid-column: 1/4;
        grid-row: 3/5;
        height: 500px;
    }
    .spot{
        grid-column: 1/4;
        grid-row: 3/5;
    }
    .downtown:hover{
        transform: scale(1.6);
    }
    
}

@media screen and (min-width: 900px) {
    #index-main{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(1fr, 4);
    }
   nav ul{
        flex-direction: row;
    }
    nav li{
        display: block;
        }
    
    li:first-child{
        display: none;
        }
    .spot3{
        display: block;
        margin: 10px;
        height: 200px;
    }
    section{
        height: 100%;
    }
    .hero{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .hero-img{
        grid-column: 2/3;
    }
    .news{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .events{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join{
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .spot-box{
        grid-column: 3/4;
        grid-row: 1/4;
        height: 100%;
    }
    .downtown:hover{
        transform: scale(1.6);
    }
}